<div class="profile-container">
  <div class="profile-left">
    <div class="profile-summary">
      <div class="banner-header">
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      </div>
      <div class="container-profile">
        <div class="info">
          <h4 class="name"> Hercules Brito </h4>
          <div class="user-description">
            <p class="address">São Paulo, SP</p>
            <p class="searcphes">+ de 500 pesquisas respondidas</p>
          </div>
        </div>
        <%= link_to "Answer a Survey", "/surveys", class: "btn btn-check btn-lg" %>
      </div>
    </div>

    <div class="profile-strength">
      <h4 class="title">Profile Strength: <span>Expert</span></h4>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="profile-numbers">
      <h4 class="title" style="text-align: center; ">Make your Survey</h4>
      <hr>
      <%= link_to "New Survey", new_survey_path, class: "btn btn-check btn-lg" %>
      </div>
  </div>

  <div class="profile-right">
    <div class="wallet-summary">
      <h4 class="title">Wallet Summary</h4>
      <div class="entries">
        <div class="resume">
          <p>Current Balance</p>
          <p class="price">R$2,50</p>
        </div>
        <div class="resume">
          <p>Next Entry</p>
          <p class="price_a">R$0,00</p>
        </div>
        <div class="resume">
          <p>Last Withdrawal</p>
          <p class="price_a">R$30,50</p>
        </div>
      </div>
      <p class="preferences">Manage my Wallet Preferences</p>
    </div>
    <div class="connections">
      <div class="graphic">
        <img src="https://res.cloudinary.com/dauxxi1io/image/upload/v1584130422/Grafico_Som_ayuoye.png" alt="" class= "mb-4">
      <div>
        <%= link_to "Check your results", "/surveys/3/survey_answers", class: "btn btn-check btn-sm" %>
      </div>
      </div>
    </div>
  </div>
</div>
