      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />


      <div class="card-profile-user">
        <img src="/assets/images/monocolor_davidzydd.jpg" />
        <div class="card-profile-user-infos">
          <div>
            <h2>User Profile</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-profile-user-id">@hercules</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-profile-user-user avatar-bordered" />
        </div>
      </div>
