<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card-trip mt-5 shadow-lg p-3 mb-5 bg-white rounded">


      </div>
    </div>
    <div class="col-md-3">
      <div class="card-trip mt-5 shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://res.cloudinary.com/dauxxi1io/image/upload/v1583953718/avatar_cqj9if.jpg" alt="" class="rounded-circle">
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-trip mt-5 shadow-lg p-3 mb-5 bg-white rounded">

      </div>
    </div>
  </div>
</div>

