<div class="banner" style="height: 100vh; background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dauxxi1io/image/upload/v1583514045/soma_banner_m8eq5p.jpg);">
  <div class="container">
    <p id='big_p'>Forget the noise.<br>Listen from the source.</p>
    <a class="btn-home d-block mx-auto" href="/users/sign_up" style='margin-top: 100px'>DISCOVER</a>
  </div>
</div>

<div style="height: 100vh" id='teste'>
  <div class="home-about">
    <div class="container">
      <h1> Sobre a empresa </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi est sit amet facilisis magna etiam tempor orci. Dolor magna eget est lorem ipsum dolor sit amet. Lorem sed risus ultricies tristique nulla aliquet enim. Elementum tempus egestas sed sed risus pretium. Amet facilisis magna etiam tempor orci eu lobortis elementum. Purus gravida quis blandit turpis cursus. Arcu cursus euismod quis viverra nibh cras pulvinar mattis. Nisl nisi scelerisque eu ultrices vitae. Id semper risus in hendrerit gravida rutrum quisque non tellus. Ac tincidunt vitae semper quis lectus nulla at volutpat. Nec sagittis aliquam malesuada bibendum arcu. Mi in nulla posuere sollicitudin aliquam ultrices.

      Quisque sagittis purus sit amet volutpat consequat. Purus non enim praesent elementum. Porttitor lacus luctus accumsan tortor posuere. Duis ultricies lacus sed turpis tincidunt id aliquet risus. In est ante in nibh mauris. Id diam maecenas ultricies mi. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Blandit aliquam etiam erat velit scelerisque. Et egestas quis ipsum suspendisse. Sagittis vitae et leo duis ut. Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Dictumst quisque sagittis purus sit amet volutpat consequat. Neque gravida in fermentum et sollicitudin ac orci. Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. Porttitor leo a diam sollicitudin tempor id eu nisl. Fames ac turpis egestas sed. Volutpat odio facilisis mauris sit amet massa vitae tortor. Posuere sollicitudin aliquam ultrices sagittis orci. Tortor dignissim convallis aenean et tortor. Feugiat scelerisque varius morbi enim nunc faucibus.</p>
    </div>
  </div>

  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2>Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p>Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+55 (11) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">soma.lewagon@gmail.com</a>
        </div>
      </div>
    </div>
  </section>
</div>
