<div class="banner" style="height: 100vh; background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dauxxi1io/image/upload/v1583514045/soma_banner_m8eq5p.jpg);">
  <div class="container">
    <p id='big_p'>Forget the noise.<br>Listen from the source.</p>
    <a class="btn-lg-green d-block mx-auto" href="/users/sign_up">DISCOVER</a>
  </div>
</div>
