<div class="container w-50">
  <div class="row">
    <div class="col ">
      <h1 class='m-3 form'>Surveys</h1>
      <% @surveys.each do |survey| %>
      <h1> <%= survey.title %> </h1>
      <%= link_to 'Answer this survey', new_survey_survey_answer_path(survey) %>
      <% end %>
    </div>
  </div>
</div>



