<div class="container w-50">
  <div class="row">
    <div class="col ">
      <h1 class='m-3 form'>Surveys</h1>
      <% @questions.each do |survey| %>
      <ul>
        <li>

          <%= survey.title %>

        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>



