<div class="container w-50">
  <div class="row">
    <div class="col ">
      <h1 class='m-3 form'><%= @survey.title %></h1>
      <% @questions.each do |question| %>

          <%= render 'form_answer', question: question, answer: question.answers.new %>

      <% end %>

    </div>
  </div>
</div>
