.btn-home {
  border: 0px solid #004B84;
  background: green;
  border-radius: 5px;
  font-size: 24px;
  vertical-align: middle;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  width: 200px;
  height: 45px;
  vertical-align: center;
  text-align: center;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

.btn-login {
  border: 0px solid #004B84;
  background: #424874;
  padding: 3px 21px;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  width: 100%;
  height: 40px;
  vertical-align: center;
  margin-top: 134px;
}

.btn-sign-up {
  border: 0px solid #004B84;
  background: #424874;
  padding: 3px 21px;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  width: 146px;
  height: 40px;
  vertical-align: center;
  margin-top: 102px;
}

.btn-forgot-pass {
  border: 0px solid #004B84;
  background: #424874;
  padding: 3px 21px;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  width: 146px;
  height: 40px;
  vertical-align: center;
}

.btn-submit {
  border: 0px solid #004B84;
  background: #424874;
  padding: 3px 21px;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  width: 100%;
  height: 40px;
  vertical-align: center;
  margin-top: 40px;
}

