.btn-home {
  border: 0px solid #004B84;
  background: #cca8e9;
  padding: 3px 21px;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  width: 146px;
  height: 40px;
  vertical-align: center;
}

.btn-login {
  border: 0px solid #004B84;
  background: #cca8e9;
  padding: 3px 21px;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  width: 146px;
  height: 40px;
  vertical-align: center;
  margin-top: 134px;
}
