.card-header {
  height: 64px;
  h2 {
    font-size: 32px;
  }

}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-right-width: 0.5px;
  border-bottom-width: 0.5px;
  border-top-width: 0.5px;
  border-left-width: .5rem;
  border-radius: .25rem;
  border-color: #424874;
  color: #9984D4;
}

.list {
  list-style-type: none;
}

#trash {
  color: #424874;

}

#plus {
  color: #424874;
  position: absolute;
  right: 55px;
  bottom: 120px;
}






.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  left: 16px;
  top: -20px;
  width: 40px;
}
