.footer {
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  width:100%;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #1DDD88;
}
.footer .fa-heart {
  color: #D23333;
}
#page-container {
  background-color: #F4F4F4;
  position:relative;
  min-height: 100vh;
  padding-bottom: 2rem;
}

#content-wrap {
  padding-bottom: 2.5rem;
}
