.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

body{
  font-family: Open Sans;
}

.sign-in {
  background: #C2C1C2;
  padding: 10vh 0px 15vh 0px;
  border-radius: 2rem;
}

.sign-up {
  background: #C2C1C2;
  padding: 10vh 10vw 15vh 10vw;
  border-radius: 2rem;
}

.logo-sign {
  width: 18vw;
  margin-bottom: 5vh;
}

.margin-bg{
  margin-top: 10vh;
}

.side_bar {
  color: white;
  background: black;
  height: 100vh;
  position: fixed;
}

.side_bar h4 {
  font-family: Open Sans;
}
