.navbar-lewagon {
  justify-content: space-between;
  background: #dbd4d3;
  height: 64px;
  color: #521262;
  box-shadow: 0rem .0625rem 0.25rem grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.dropdown {
  color: #716969;
  font-size: 25px
}

.dropdown-toggle:after { content: none }

.dropdown {
  height: 1px;
}

#navbarDropdown {
  color: white;
  font-size: 30px;
 }
