.navbar-lewagon {
  justify-content: space-between;
  background: #222222;
  height: 64px;
  color: #521262;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.dropdown {
  color: #716969;
  font-size: 25px;

}

.dropdown-toggle:after { content: none }
