.page-section {
  margin-bottom: 40px;
  color: #bf96e0;
  h2{
    margin-top: 40px;
  }
  p{
    color: #bf96e0;
  }
}

// ones that are random here:
#big_p {
  font-size: 80px;
  font-family: 'Verdana';
  font-weight: 'Regular';
}
